.section {
	margin: 2rem 0;
	& > div:not(:last-child) {
		margin-bottom: 2rem;
	}
}
.Typewriter {
	display: inline-block;
}

.navItem a {
	cursor: pointer;
	&.active {
		border-bottom: 0.2rem solid var(--utiliy-ycolor);
	}
	&:hover {
		border-bottom: 0.2rem solid var(--utiliy-bcolor);
	}
}
