.main_nav {
	display: flex;
	list-style: none;
	margin-left: 5rem;
	li {
		border-bottom: 0.2rem solid transparent;
		&:not(:first-child) {
			margin-left: 2rem;
		}
		a {
			text-transform: capitalize;
		}
	}
}
