.postHeader {
	&:hover a {
		border-bottom: 0.2rem solid var(--utiliy-bcolor);
	}
	a {
		text-transform: capitalize;
		padding: 0.5rem 0;
	}
}
.postFooter {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 2rem;
	&_date {
		color: var(--text-secondary-dark);
	}
	&_link {
		color: var(--utiliy-bcolor);
	}
}
