.main_nav {
	display: flex;
	list-style: none;
	margin-left: 5rem;
	li {
		border-bottom: 0.2rem solid transparent;
		&:not(:first-child) {
			margin-left: 2rem;
		}
		&.active {
			border-bottom: 0.2rem solid var(--utiliy-ycolor);
		}
		&:hover {
			border-bottom: 0.2rem solid var(--utiliy-bcolor);
		}
		a {
			text-transform: capitalize;
		}
	}
}
