@import "utility";
:root {
	--background-color: #f7f7f7;
	--main-color: #fff;
	--utiliy-ycolor: #ffbc00;
	--utiliy-bcolor: #61dafb;
	--utiliy-gcolor: #333;

	--text-main-color: #333;
	--text-secondary-dark: #777;
	--gray-color-light1: #faf9f9;
	--gray-color-light2: #f4f2f2;
	--gray-color-light3: #f0eeee;

	--max-width: 120rem;
}
.dark {
	//todo setting for dark theme
	--background-color: #333;
}
html {
	font-size: 62.5%;
	@include respond(big-desktop) {
		font-size: 75%;
	}
	@include respond(tab-land) {
		font-size: 56.25%;
	}
	@include respond(tab-port) {
		font-size: 50%;
	}
	@include respond(phone) {
		font-size: 35%;
	}
}
body {
	font-family: "Lato", sans-serif;
	line-height: 1.5;
	background-color: var(--background-color);
}
img {
	width: 100%;
	height: 100%;
}
a {
	text-decoration: none;
	color: var(--text-main-color);
}
h1 {
	font-size: 3.2rem;
}
h2 {
	font-size: 2rem;
}
*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* utilities */
.container {
	margin: 0 auto;
	max-width: var(--max-width);
	padding: 2rem;
	color: var(--text-main-color);
}
.sub-container {
	background-color: var(--main-color);
	padding: 2rem;
	border-radius: 5px;
	font-size: 1.6rem;
}
.text-ac {
	text-align: center;
}
.text-ul {
	border-bottom: 0.3rem solid var(--utiliy-ycolor);
	display: inline;
	padding-bottom: 0.5rem;
}
.bottom-line {
	height: 2px;
	width: 50%;
	background-color: #ffbc00;
	display: block;
	margin: 0 auto 1rem auto;
}
/* paddings */
.pt-6 {
	padding-top: 6rem;
}
/* margins */
.mt-1 {
	margin-top: 1rem;
}
.mt-2 {
	margin-top: 2rem;
}
.mt-3 {
	margin-top: 3rem;
}
.ml-1 {
	margin-left: 1rem;
}
.ml-2 {
	margin-left: 2rem;
}
.ml-3 {
	margin-left: 3rem;
}
.ml-1 {
	margin-left: 1rem;
}
.mb-1 {
	margin-bottom: 1rem;
}
.mb-2 {
	margin-bottom: 2rem;
}
.mb-3 {
	margin-bottom: 3rem;
}

.paragraph {
	line-height: 3.2rem;
}
